[Unit]
Description=SPECTRE_GRID Data Plane (C++ eBPF Motor)
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/abras/ids-cnn-lstm-gnn/build
# Assumindo a interface padrao descoberta pelo start_spectre.sh
ExecStart=/home/abras/ids-cnn-lstm-gnn/build/spectre_fusion eth0
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
